@page
@model Meta.Books.WebSite.Pages.Loan.ListModel

<div class="container-fluid">
    <form method="get">
        <div class="row mb-3">
            <div class="col-md-8"></div>
            <div class="col-md-4 text-end">
                <button id="btnSearch" class="btn btn-primary me-3">Search</button>
                <a asp-page="/Loan/Adm" asp-route-id="0" class="btn btn-success">Add New</a>
            </div>
        </div>
    </form>

    <div class="row mb-3">
        <div class="col-md-12">
            <h2>Loans</h2>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <table class="table">
                <thead>
                <tr>
                    <th>User</th>
                    <th>Book</th>
                    <th>Loan Date</th>
                    <th>Return Date</th>
                    <th>Actions</th>
                </tr>
                </thead>
                <tbody>
                @foreach (var loan in Model.Loans)
                {
                    <tr>
                        <td>@Model.Users[loan.user_id]</td>
                        <td>@Model.Books[loan.book_id]</td>
                        <td>@loan.loan_date.ToString("yyyy-MM-dd")</td>
                        <td>@loan.return_date.ToString("yyyy-MM-dd")</td>
                        <td>
                            <a asp-area="" asp-page="/Loan/Adm" asp-route-id="@loan.id" class="btn btn-primary" role="button">Edit</a>
                            <a asp-area="" asp-page="/Loan/Delete" asp-route-id="@loan.id" class="btn btn-danger" role="button">Delete</a>
                        </td>
                    </tr>
                }
                </tbody>
            </table>
        </div>
    </div>
</div>
